*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
a{
    color: white;
    font-size: 20px;
    
}
h2{
    margin-bottom: 9px;
}

header {
    margin: 0 auto;
    text-align: center;
    font-size: 26px;
    color: white;
    background-color: red;
}
.nav__list{
    list-style: none; 
    background-color: rgb(228, 166, 85);
    display: flex;
    justify-content: center;
    gap: 7px;
}

main {
    background-color: rgb(12, 162, 12);
    padding-top: 10px;
    padding-top: 10px;
    height: 80vh;
}

article {
    background-color: blue;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 25px 25px;
    color: white;
    height: 250px;
    font-size: 20px;
}

footer {
    background: rgb(138, 5, 138);
    height: 10vh;
    text-align: center;
    color: white;
    font-size: 26px;
    padding-top: 10px;
}